.swiper-slide-img-1 {
    z-index: 20;
}

.swiper-slide-img-2 {
    z-index: 18;
}

.tile > * {
	/* background: red; */
}

.gallery-partner {
	display: flex;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	align-items: center !important;
	justify-content: space-evenly !important;
	width: 100%;
	position: relative;
	height: 100%;
}

.gallery-partner a {
	padding: 1rem;
	position: relative;
	width: 200px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery-partner img {
	width: 100%;
	height: auto;
}

.gallery-partner figurecap {
	bottom: 0;
	position: absolute;
	margin: .5rem 0;
	text-align: center;
}

footer.regular {
	height: 100px;
}

.album-container {
	width: 100% !important;
}

.album h2 {
	padding-bottom: 1rem;
}


iframe {
	width: calc(560px * 1.5) !important;
    height: calc(315px * 1.5)  !important;
    margin: 1rem 0 !important;
}

ul.albums {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.test1 {
	background: dodgerblue;
	width: auto;
}

.album .swiper-container {
    /* width: 1100px; */
    height: 700px;
}

.album .swiper-slide {
    background: #111;
}

.album .swiper-slide {
    /* height: 100% !important; */
}

.album img {
}


.img-blur {
    filter: blur(5px);
}

.grid .content {
    position: absolute;
    background: var(--trans);
    font-size: 5rem;
    bottom: 0;
    z-index: 99;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 1rem 0;
    box-sizing: border-box;
    max-width: unset;
}

/* FONT SIZES */

/*
:root {
	--font-size-tiny: 0.8rem;
	--font-size-small: 1.0rem;
	--font-size-medium: 1.2rem;
	--font-size-large: 1.4rem;
	--font-size-huge: 2.0rem;
	--font-size-monster: 4.0rem;
}
*/

/* FONT */

a {
    font-family: inherit;
    font-size: inherit;
	text-decoration: none;
}

p a {
	text-decoration: underline;
}

body,
* {
    font-family: 'montserratlight', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'montserratextrabold', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 1;
}

h2 {
    font-family: 'montserratextrabold', sans-serif;
    font-size: 2.2rem;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    font-family: 'montserratlight', sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
}

p {
    line-height: 1.6;
    margin: 0;
}

article p {
    line-height: 2.2;
}


button {
    font-family: 'montserratmedium', sans-serif;
    /* font-size: inherit; */
    text-transform: uppercase;
    line-height: 2;
}

.legal p {
    font-size: 0.8rem;
    line-height: 1.6;
    text-align: justify;
}

footer {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    height: 40px;
    bottom: 0;
    width: 100%;
}

footer a {
    font-size: 0.8rem;
}

footer .content>* {
    margin: 0;
    padding: .5rem 2rem;
}

span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

/* COLOR */

:root {
    --light: #fff;
    --pri: #ebb700;
    --sec: #093088;
    --dark: #08111b;
    --trans: rgba(8, 18, 29, .6);
    --textshadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    --shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    --shadow-hover: 0 10px 20px rgba(0, 0, 0, 0.5);
}

button {
    background: none;
}

/* PRI */

.tile1 button,
.tile3 button,
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination,
footer {
    color: var(--pri) !important;
}

.tile2,
.tile5 {
    background: var(--pri);
}

.tile1 button,
.tile3 button {
    border: 2px solid var(--pri);
}

svg path {
    fill: var(--pri);
}
/* SEC */

.tile2 button,
.tile5 button {
    color: var(--sec);
}

.tile3,
.tile3 button {
    background: var(--sec);
}

.tile2 button,
.tile5 button {
    border: 2px solid var(--sec);
}

/* LIGHT */

body,
button {
    color: var(--light);
}

.tile4 {
    background: var(--light);
}

/* DARK */

.tile:nth-child(4) {
    color: var(--dark);
}

html,
.grid,
footer,
.swiper-slide {
    background: var(--dark);
}

/* SHADOW */

.card {
    box-shadow: var(--shadow);
}

.card:hover {
    box-shadow: var(--shadow-hover);
}


/* TRANS */

.close,
.swiper-pagination {
    background: var(--trans);
}


/* COLOR HELPER */

.pri {
    color: var(--pri);
}

.light {
    color: var(--light);
}

.dark {
    color: var(--dark);
}

/* CUSTOM */

/* DEFAULT */

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
}

body,
a {
    display: block;
    /* text-decoration: none; */
}

a {
    display: inline;
    align-items: center;
    flex-direction: column;
    color: inherit;width: auto;
}

a.tile {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
}

body>section {
    height: 330px;
}

body>section {
    /* min-height: 350px; */
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body>section>section {
    max-width: 1100px;
    width: 100%;
    height: auto;
}

body>section>* {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

* {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

*:hover {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0;
    position: relative;
}

img.mobile {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.5;
    margin: 0.8rem 0;
    text-transform: capitalize;
}

li i {
    font-size: 1.2rem;
    padding: 0.1rem 0.5rem 0 0;
    align-self: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 1rem 1rem 2rem;
    margin: 0 5rem;
    width: auto;
    max-width: 1200px;
    box-sizing: border-box;
    z-index: 10;
    overflow: hidden;
}

.content {
    align-items: stretch;
}

article h2,
.album h2 {
    margin: 5rem 0 0;
}

.item {
    margin-bottom: 1rem;
}

main {
    min-height: calc(100% - 40px); 
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
}

main.article,
main.album {
    min-height: calc(100% - 100px);
}

.grid {
    display: block;
    grid-template-columns: 60% 10% 30%;
    grid-template-rows: 38% 38% 24%;
    min-height: 768px;
    height: calc(100% - 40px);    
    overflow: hidden;
    grid-gap: 1px;
}

.tile {
    display: block;
    top: 0;
    position: absolute;
    right: 0;
    width: 30%;
    height: 20%;
}

.tile:nth-child(1n+4) {
    padding: 0rem 2rem;
}

.tile > * {
    margin: 2rem 5rem;
}

footer .content>* {
    width: auto;
    min-width: auto;
    margin: 0;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

footer .content {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

footer .content a:last-child {
    grid-column: span 2;
}

.content>*>* {
    margin: 0.2rem;
}

.content article p {
    margin: revert;
}

button {
    min-width: 150px;
    width: auto;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: block;
    /* line-height: 2.2; */
    z-index: 25;
    padding: 0 1rem;
}

button span {
    margin: 0 1rem;
}

a.close {
    position: fixed;
    margin: 1rem;
    padding: 1rem;
	top: 0;
    right: 0;
    cursor: pointer;
    z-index: 90;
}

nav {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
    overflow: hidden;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5);
}

nav button {
    width: auto;
    height: auto;
    margin: 0 !important;
    padding: 1rem 0;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    display: block;
    overflow: hidden;
}

.social {
    position: absolute;
    display: block;
    left: 0;
    width: auto;
    z-index: 150;
    padding: 1rem;
    top: 0;
}

.social a {
    float: left;
}

.social i {
    font-size: 2rem;
    padding: 0.3rem;
}

.social svg {
    width: 30px;
    padding: .5rem;
}

.card {
    border-radius: 10px;
    margin: 3rem 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 23rem;
}

.card a {
    margin-top: auto;
    padding: 1rem 0;
}

.card svg {
    width: 20px;
    height: 20px;
    margin: 0 0.5rem;
    padding-top: 3px;
}

footer a {
    padding: 1rem;
    align-items: flex-start;
}

/* DEFAULT HELPER */

.full {
    width: 100% !important;
}

.center {
    align-items: center;
}

.left {
    justify-content: flex-start !important;
}

.col {
    flex-direction: column !important;
}

.row {
    flex-direction: row !important;
}

.transparent {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    z-index: 5;
    background: linear-gradient( 180deg, rgba(0, 0, 0, 0), var(--trans));
}

/* DEFAULT OPTIONS */

.tile1 {
    grid-column: span 2;
    grid-row: span 2;
}

.tile5 {
    grid-column: span 2;
}

.tile img {
    width: 55px;
    margin: 0.2rem 2rem;
}

.tile section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* SWIPER */

.swiper-container {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 80 !important;
    width: 70%;
    height: auto;
    display: flex;
    margin: 0 !important;
}

.content>* {
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    position: relative;
}

.swiper-wrapper {
    height: 100%;
    position: relative;
    z-index: 1;
}

.swiper-slide {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    background-size: cover;
    position: relative;
    display: block;
}

.swiper-container img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    right: 0;
    top: 0;
    position: absolute;
}

.swiper-button-next,
.swiper-button-prev {
    width: 50px !important;
    height: 50px !important;
    margin-top: -60px !important;
    top: 50% !important;
    background-image: none !important;
    background: rgba(0, 0, 0, 0.3);
    padding: 1em 0;
    z-index: 999;
    position: absolute;
    cursor: pointer;
    opacity: .7;
}

.swiper-button-prev {
    left: 0 !important;
    margin-left: .3em;
}

.swiper-button-next {
    right: 0 !important;
    margin-right: .3em;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 50px;
    height: 50px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: none !important;
}

.swiper-pagination {
	width: auto !important;
	padding: 0.5rem;
    margin: 1rem;
	right: 0;
	left: unset !important;
	top: 0;
	bottom: unset !important;
	font-size: 1.4rem;
}

.tile2 {
	top: 0 !important;
}

.tile3 {
	top: 20% !important;
}

.tile4 {
	top: 40% !important;
}

.tile5 {
	top: 60% !important;
}

.grid p,
.grid a button,
.grid section {
	display: none;
}

.oldbrowser {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 99;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	flex-direction: column;
	line-height: 1.6;
}


@supports( grid-area: auto ) {

.oldbrowser {
	display: none;
}

.grid {
	display: grid;
}

.grid p,
.grid a button,
.grid section {
	display: unset;
}

.grid section {
	display: flex;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    position: relative;
    width: auto;
    right: auto;
    top: auto !important;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin: unset;
}

}

@media only screen and (orientation: landscape) {
    img.desktop {
        display: block !important;
    }
    img.mobile {
        display: none !important;
    }
}

@media screen and (max-width: 2000px) {

    .tile > * {
        margin: 0.5rem 0;
    }

}

@media screen and (max-width: 1200px) {
    
    body,
    * {
        font-size: 0.9rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    button {
        height: 35px;
        ;
    }

    .tile img {
        margin: 0.1rem 1rem;
    }

    .tile > * {
        margin: 0 0 1rem;
    }

}

@media screen and (max-width: 700px) {

    .content {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        padding: 0 0rem;
        margin: 0;
    }

    .notes .content {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        padding: 0 1rem;
        margin: 0;
    }

    .tile > * {
        margin: 0;
    }


    footer .content {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    
    footer .content>* {
        min-width: auto;
    }
}

@media screen and (max-width: 700px) and (orientation: portrait) {
            
    .grid p,
    .grid a button,
    .grid section {display: none;}

    .grid .content button {display: flex;}

    .tile1 .content {
        flex-direction: column !important;
    }
    
    .tile1 button {
        display: block;
    }

    .tile {
        justify-content: center;
    }


    img.desktop {
        display: none !important;
    }
    img.mobile {
        display: block !important;
    }
    /* FONT */
    *,
    .body {
        font-size: 4vw;
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    .grid .tile1 h2 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4 {
        font-size: 1.4rem;
    }
    /* DEFAULT */
    body>section>section {
        max-width: none;
        width: 100%;
    }
    body>section {
        justify-content: flex-end;
    }

    a.close {
        margin: 0.5rem;
        padding: 0.5rem;
    }    
    .content .item,
    .content .item:nth-child(2) {
        padding-top: 0;
    }
    .content .item:nth-child(1) {
        width: 95%;
    }
    button {
        min-width: 40vw;
        width: auto;
    }
    .card {
        margin: 1rem;
        align-self: center;
    }
    nav {
        display: flex;
    }
    .grid {
        min-height: unset;
        height: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 70% 15% 15%;
    }
    .tile1 {
        grid-column: span 2;
        grid-row: span 1;
    }
    .tile5 {
        grid-column: span 1;
    }
    
    .tile:nth-child(1n+4) {
        justify-content: center;
        padding: 0 1rem;
    }
    
    footer,
    footer.regular {
        height: auto;
    }

    footer .content {
        margin: 0 1rem;
        padding: 2rem 0rem;
    }
    
    footer .content > * {
        padding: 0.7rem 0.2rem;
    }

    iframe {
        width: 100% !important;
        height: auto !important;
        margin: auto !important;
    }

}

@media screen and (max-width: 500px) and (max-height: 900px) {}

@media screen and (max-width: 380px) {}

@media screen and (max-width: 320px) {
    .content {
        padding: 0.1rem;
    }
}